

.header {
    padding-top: 3vh;
    padding-bottom: 3vh;

    background-image: url("../assets/header.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    color: #8F8EBF;
}

.myfooter {
    background-color: #474073;
    bottom: 0;
    left:0;
    right: 0;
    position: relative;
    padding: 0;
    margin: 0;
    color: #6c757d;
}

.location {
    color: white;
}

.impair {
    background-color: #4F4D8C;
    color: white;
    vertical-align: middle;
}

.pair {
    background-color: #2E4159;
    color: white;
}

.about {
    z-index: 1;
}

.about h4 {
    height: 10%;
}

footer {
    bottom: 0;
    position: fixed;
    right: 0;
    z-index: 3;
}

.myfooter p {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.list-group-flush {
    padding: 0;
}

li {
    background-color: #2E4159;
    margin: 0;
    width: 100%;
}

.list-group-item {
    width: 100%;
}
.about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}
/*
.about_content h4 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    top: 0;

}*/

tbody th {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

@media screen and (min-width:576px ) and (max-width: 992px) {
    .first, .fourth {
        background-color: #4F4D8C;
        color: white;
        vertical-align: middle;
    }
    .third, .second {
        background-color: #2E4159;
        color: white;
    }
}
